@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/***** General CSS *****/

body {
    word-break: break-word;
    font: 15px/25px 'Poppins', sans-serif;
    color: #393939;
    overflow-x: hidden;
    
}

a {
    text-decoration: none;
    color: #28b16d;
    white-space: initial;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #393939;
}

a:hover {
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
}

img {
    max-width: 100%;
}

input[type="text"]:focus,
textarea:focus,
input[type="password"]:focus,
select:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    outline: none;
}

select,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="number"],
textarea,
input[type="tel"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

ul {
    margin: 0 0 20px;
    padding: 0;
    list-style-type: none;
}

p {
    font-weight: 500;
}


/***** Font Files *****/

@font-face {
    font-family: 'Fonts Awesome';
    src: url(../fonts/fontawesome-webfont.eot);
    src: url(../fonts/fontawesome-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/fontawesome-webfont.woff) format("woff"), url(../fonts/fontawesome-webfont.ttf) format("truetype"), url(../fonts/fontawesome-webfont.svg#fontawesome-webfont) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: TrajanPro-Bold;
    src: url('../fonts/HelveticaInseratLTStd-Roman.otf');
}

@font-face {
    font-family: Sage;
    src: url('../fonts/sage.otf');
}


/***** Custom Classes *****/

.noPadding {
    padding: 0;
}

.noLeft {
    padding-left: 0;
}

.noRight {
    padding-right: 0;
}

.centerCol {
    float: none;
    margin: 0 auto;
}

.theme-btn {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    padding: 15px 40px;
    color: #fff;
    margin: 20px 20px 20px 0;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    text-transform: capitalize;
    border: 2px solid;
    text-transform: uppercase;
}

.theme-btn:hover {
    background-color: #fff;
    color: #28b16d;
    border-color: #28b16d;
}

.flexRow {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

.flexCol {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    align-items: center;
}

h1 {
    font-family: TrajanPro-Bold;
    font-size: 55px;
    line-height: 60px;
    color: #fff;
    font-weight: 500;
    margin: 0 0 17px;
}

h2 {
    font-family: TrajanPro-Bold;
    font-size: 55px;
    line-height: 60px;
    color: #393939;
    font-weight: 500;
    margin: 0 0 30px;
}

h3 {
    font-family: TrajanPro-Bold;
    font-size: 30px;
    line-height: 34px;
    color: #000000;
    font-weight: 600;
    margin: 0 0 28px;
}

h4 {
    font-family: TrajanPro-Bold;
    font-size: 24px;
    line-height: 29px;
    color: #393939;
    font-weight: 500;
    margin: 0 0 13px;
}

h5 {
    font-family: TrajanPro-Bold;
    font-size: 20px;
    line-height: 25px;
    color: #393939;
    font-weight: 500;
    margin: 0 0 20px;
}

h6 {
    font-family: TrajanPro-Bold;
    font-size: 18px;
    line-height: 23px;
    color: #393939;
    font-weight: 500;
    margin: 0 0 22px;
}

select {
    background: #fff url('../images/arrow.png') no-repeat right;
    padding: 0 40px 0 30px;
}

::-webkit-input-placeholder {
    color: #575757;
}

::-moz-placeholder {
    color: #575757;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #575757;
}

:-moz-placeholder {
    color: #575757;
    opacity: 1;
}


/* BEGIN: HEADER SEC CSS */


/* sidenav-css start */

.sidenav {
    height: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    left: -500px;
    background: #e47225;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    width: 250px;
}


/* The navigation menu links */


/* When you mouse over the navigation links, change their color */

.sidenav a:hover,
.sidenav a:focus {
    color: #000;
    text-decoration: none;
    padding-left: 40px;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 12px;
    color: #fff;
    display: block;
    transition: 0.3s;
    text-transform: uppercase;
}

.mobilecontainer span {
    color: #e47225;
    margin-right: 10px;
    margin: 0px 9px;
    padding: 10px 0;
    position: relative;
    z-index: 1;
}

.mobilecontainer img {
    width: 63px;
    margin: -19px 0;
    position: relative;
    z-index: 1;
}

.mobilecontainer {
    
    padding-left: 20px;
    width: 70px;
}


/* sidenav-css end */


/*navigation*/

header {
    margin: 0;
}



.logo img {
    width: 31%;
}


/* .logo img {
    width: 60%;
} */

.main-navigate {
    margin: 0;
   
    padding: 4px 3%;
    position: absolute;
    z-index: 1;
    width: 100%;
    background: rgb(11 15 23 / 12%);
    /* box-shadow: 0 0px 10px 1px rgb(171 171 171 / 39%); */
    backdrop-filter: blur( 13px);
}

.nav-flex {
    display: flex;
    align-items: center;
}

.header-text p {
    margin-bottom: 0;
    font-size: 16px;
}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: end;
}

a.header-link {
    background: #0a4579;
    color: #fff;
    padding: 15px 35px;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.header-menu i.fas.fa-search {
    background: #0a4579;
    color: #fff;
    padding: 20px 20px;
    margin-left: 10px;
    transition: .3s ease-in-out;
}

.header-menu i.fas.fa-search:hover {
    background: #000;
    color: #fff;
}

.navigation {
    margin-top: 0px;
    text-align: center;
}

.navigation ul li a {
    color: #414141;
    padding: 0px 12px;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
}

.navigation ul li a:hover {
    color: #d60026;
}

.navigation ul li:last-child a {
    background-color: #d60026;
    padding: 10px 14px;
    border-radius: 30px;
    color: #fff;
    font-weight: 400;
    border: 1px solid #d60026;
}

.navigation ul li:last-child a:hover {
    color: #d60026;
    background-color: #fff;
}

.navigation ul li.active a {
    color: #d60026;
}

.navigation ul li {
    display: inline-block;
    padding: 0px 0px;
}


/* scrollbar start */


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #fff;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #000;
}


/* scrolbar end */

/* zh start */
.main-navigate ul.hedr-menu {
    display: flex;
    justify-content: space-between;
    /* gap: 102px; */
    margin-bottom: 0;
}
ul.hedr-menu a {
    color: #fff;
    font-size: 19px;
    font-family: TrajanPro-Bold;
    /* font-weight: 600; */
    text-transform: capitalize;
}
/* zh end */
/* END: HEADER SEC CSS */


/*banner css start */

.carousel-inner .carousel-item .slider-banner {
    width: 100%;
    height: 850px;
    object-fit: cover;
     /* object-position: top; */
}

@keyframes scale {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

.carousel-inner>.item>a>img,
.carousel-inner>.item>img {
    width: 100%;
}

.carousel-control.right,
.carousel-control.left {
    background: none;
    opacity: 1;
    width: 50px;
    height: 50px;
    top: initial;
    top: 40%;
    background: rgba(255, 255, 255, 0.1);
    text-shadow: none;
}

.carousel-control.right:hover,
.carousel-control.left:hover {
    background: rgba(255, 27, 27, 0.6);
    color: #fff;
}

.carousel-control.right .fa,
.carousel-control.left .fa {
    position: relative;
    top: 12px;
    font-size: 20px;
    color: #fff;
    opacity: 0.5;
}

.carousel-control.right {
    right: 0px;
}

.carousel-control.left {
    left: 0px;
}

.carousel-indicators {}

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 10px;
    height: 12px;
    padding: 0;
    margin: 3px!important;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 1;
    /* transition: opacity 0.6s ease; */
    border-radius: 20px;
}

.carousel-caption {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: left;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.1);
}

.carousel-indicators li {
    border: none;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    background: #fff;
    width: 12px;
    height: 12px;
    margin: 0;
}

.carousel-indicators .active {
    margin: 0;
    background-color: #28b16d;
    width: 10px;
    height: 12px;
}


/*banner css end*/

.blog_sec {
    padding: 5% 0;
}


/*slick slider in tabs css start*/

.menusec-search-link a {
    margin-right: 0px;
}

.menusec-search-link {
    display: flex;
    align-items: center;
    justify-content: start;
}


/* ham burder menu css */

.menu-toggle {
    opacity: 0.6;
    background-color: transparent;
    position: fixed;
    z-index: 999;
    top: 24px;
    left: 24px;
    border: none;
    width: 36px;
    height: 30px;
    outline: none;
    transition: opacity 0.2s ease-out;
}

.menu-toggle:after {
    opacity: 0;
    content: "ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â";
    color: white;
    position: absolute;
    top: 16px;
    left: -4px;
    font-family: Arial, sans-serif;
    font-size: 76px;
    line-height: 0;
    transition: opacity 0.4s ease-out;
}

.menu-toggle:active {
    transform: translateY(2px);
}

.menu-toggle:hover {
    opacity: 1;
}

.open .menu-toggle {
    opacity: 1;
}

.open button:before {
    opacity: 0;
    width: 0;
}

.open button:after {
    opacity: 1;
    transform: translate3d(0, 0, 0) rotate(360deg);
    transition: transform 0.4s 1s ease-out, opacity 0.4s 1s ease-out;
}

nav {
    z-index: 99;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
}

nav:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #000000d9;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
    transform: scale(0.04), translateY(9999px);
    overflow: hidden;
    z-index: 999 !important;
}

.open nav {
    top: 0;
}

.open nav:before {
    -webkit-animation: menu-animation 0.8s ease-out forwards;
    animation: menu-animation 0.8s ease-out forwards;
}

ul.menu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    perspective: 1000;
    color: white;
}

ul.menu li {
    opacity: 0;
    text-align: center;
    transform: translate3d(0, 36px, 0);
}

ul.menu li:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    left: auto;
    background-color: #2b6c9d;
    height: 120%;
    width: 0px;
    overflow: hidden;
    transition: width 0.14s ease-out;
    z-index: -1;
}

ul.menu li:after {
    opacity: 0;
    content: '';
    z-index: -1;
    position: absolute;
    top: -1px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    color: #F7BB1C;
    overflow: hidden;
    transform: translate(-24px, 6px);
    transition: transform 0.1s ease-out, opacity 0.1s ease-out;
    font-size: 25px;
}

ul.menu li:hover:before {
    left: -10px;
    right: 0;
    width: 110%;
}

ul.menu li:hover:after {
    opacity: 1;
    transform: translate(0px, 6px);
    transition: transform 0.2s 0.14s ease-out, opacity 0.2s 0.14s ease-out;
}

.open ul.menu li {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}

.open ul.menu li:nth-child(1) {
    transition-delay: 0.75s;
}

.open ul.menu li:nth-child(2) {
    transition-delay: 0.85s;
}

.open ul.menu li:nth-child(3) {
    transition-delay: 0.95s;
}

.open ul.menu li:nth-child(4) {
    transition-delay: 1.05s;
}

article {
    padding: 24px;
    max-width: 600px;
    margin: 60px auto;
    transition: 0.2s ease-out;
}

.open article {
    transform: scale(0.92);
    transition: transform 0.2s 0.41s ease-out;
}

@-webkit-keyframes menu-animation {
    0% {
        opacity: 0;
        transform: scale(0.04) translateY(300%);
    }
    40% {
        transform: scale(0.04) translateY(0);
        transition: ease-out;
    }
    40% {
        transform: scale(0.04) translateY(0);
    }
    60% {
        opacity: 1;
        transform: scale(0.02) translateY(0px);
    }
    61% {
        transform: scale(0.04);
    }
    99.9% {
        height: 0;
        padding-bottom: 100%;
        border-radius: 100%;
    }
    100% {
        transform: scale(2);
        height: 100%;
        padding-bottom: 0;
        border-radius: 0;
    }
}

@keyframes menu-animation {
    0% {
        opacity: 0;
        transform: scale(0.04) translateY(300%);
    }
    40% {
        transform: scale(0.04) translateY(0);
        transition: ease-out;
    }
    40% {
        transform: scale(0.04) translateY(0);
    }
    60% {
        opacity: 1;
        transform: scale(0.02) translateY(0px);
    }
    61% {
        transform: scale(0.04);
    }
    99.9% {
        height: 0;
        padding-bottom: 100%;
        border-radius: 100%;
    }
    100% {
        transform: scale(2);
        height: 100%;
        padding-bottom: 0;
        border-radius: 0;
    }
}

ul.menu.poppup-mnu {
    z-index: 9999;
}

.menu.poppup-mnu a {
    font-size: 30px;
    color: white;
    font-weight: 200;
    z-index: 9;
    text-transform: capitalize;
}

.menu.poppup-mnu li {
    margin-bottom: 20px;
}

.menu.poppup-mnu a:hover {
    color: black;
}

.open button:after {
    content: '\f00d';
    position: absolute;
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    opacity: 1;
    transform: translate3d(0, 0, 0) rotate(360deg);
    transition: transform 0.4s 1s ease-out, opacity 0.4s 1s ease-out;
}

.ham-menu i {
    color: #b0b0b0;
    background: #fff;
    padding: 13px 13px;
    font-size: 20px;
    font-weight: 500;
    margin-right: 20px;
    border-radius: 50%;
}

.header-text {
    text-align: end;
}

a.ham-icn img {
    margin-left: 20px;
    filter: invert(14%) sepia(98%) saturate(2161%) hue-rotate(194deg) brightness(91%) contrast(92%);
}

.banner-icon a {
    color: #000000;
    font-size: 18px;
    transition: .3s ease-in-out;
}

.banner-icon ul {
    display: flex;
    align-items: center;
}

.banner-icon ul li {
    background: #fff;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    margin-right: 10px;
    transition: 0.5s;
    color: #000000;
    animation: rdus 1.5s linear infinite alternate;
}

.banner-icon ul li:hover {
    /* transform: rotate(-20deg); */
    /* transition: .2s ease-in-out; */
    background: #000;
}

.banner-icon ul li:nth-child(2) {
    animation-delay: .5s;
}

.banner-icon ul li:nth-child(3) {
    animation-delay: .9s;
}

.banner-icon ul li:nth-child(4) {
    animation-delay: 1s;
}

@keyframes rdus {
    from {}
    to {
        transform: scale(1.05);
        filter: drop-shadow(2px 4px 6px white);
    }
}


/* .banner-icon ul li:hover {
    background: #fff;
    border-radius: 50%;
}

.banner-icon ul li:hover a {
    color: #11548b;
} */

.banner-icon {
    margin-bottom: 15px;
}

.banner_text h1 {
    font-size: 101px;
    line-height: 103px;
    text-transform: uppercase;
    filter: drop-shadow(2px 4px 6px black);
    letter-spacing: 7px;
}

.btn-shine {
    background: linear-gradient(to right, #fff 0, #000000, #000000ba 40%, #fff 0%);
    background-position: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 4s infinite linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    text-decoration: none;
}

@keyframes shine {
    0% {
        background-position: 0;
    }
    10% {
        background-position: 50px;
    }
    20% {
        background-position: 100px;
    }
    30% {
        background-position: 150px;
    }
    40% {
        background-position: 200px;
    }
    50% {
        background-position: 250px;
    }
    60% {
        background-position: 300px;
    }
    70% {
        background-position: 350px;
    }
    80% {
        background-position: 400px;
    }
    90% {
        background-position: -450px;
    }
    100% {
        background-position: 0px;
    }
}

.banner_text p {
    font-weight: 500;
    width: 79%;
    font-size: 21px;
    line-height: 37px;
    font-family: auto;
    filter: drop-shadow(2px 4px 6px black);
}

a.header-link:hover {
    background: #000;
}


/* a.btn.btn_badam:hover {
    box-shadow: inset 145px 0 0 0 #2b6c9d;
} */

a.btn.btn_badam {
    background: #fff;
    color: #000;
    padding: 10px 34px;
    border-radius: 0;
    border: none;
    transition: 0.5s;
}

.py-8 {
    padding: 100px 0;
}


/*about start*/

.background {
    position: relative;
}

.background:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 95%;
    background-image: url(../images/about-back.png);
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
}

.about-main {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

section.about-wrap.py-8 {
    position: relative;
}

.arrow1 {
    position: absolute;
    top: -5%;
    right: 1%;
}

@keyframes dwn {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(0px, 15px);
    }
}

.arrow1 img {
    filter: drop-shadow(2px 4px 6px #000);
    border-radius: 50%;
    width: 80%;
    animation: dwn .9s ease-in-out infinite alternate;
}

.about-main h2 {
    font-size: 62px;
    text-transform: uppercase;
    color: #000;
    font-weight: 500;
    border-bottom: 1px solid #ddbc64;
    display: inline-block;
    padding-bottom: 10px;
}

@keyframes move {
    0%,
    100% {
        left: 0;
    }
    50% {
        left: calc(100% - 100px);
    }
}

.ayah-head:after {
    content: "";
    position: absolute;
    left: 0;
    top: -12px;
    width: 194px;
    height: 82%;
    background-color: #fff;
    animation: move 5s linear infinite;
    z-index: -1;
}

.ayah-head {
    position: relative;
    mix-blend-mode: difference;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 0%;
}

.about-main p {
    font-size: 20px;
    line-height: 35px;
    color: #000000;
    font-weight: 500;
    font-family: auto;
}

.about-box ul li {
    background: #000000c9;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.8s;
}

.about-box ul li img {
    animation: fltr 2s linear infinite alternate;
    transform: scale(0.7);
}

.about-box ul.dl li img {
    animation-delay: .8s;
}

.about-box ul.dl2 li img {
    animation-delay: 1.1s;
}

@keyframes fltr {
    to {
        filter: drop-shadow(0px 15px 10px black);
        transform: scale(0.8);
    }
}

.about-box {
    text-align: center;
    margin-top: 30px;
    transition: 0.8s;
}

.about-box ul {
    display: flex;
    justify-content: center;
}

.about-box h4 {
    font-size: 30px;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
}

.about-box p {
    color: #000000;
    font-size: 18px;
    line-height: 30px;
    font-family: auto;
}

.about-box:hover ul li {
    background: #111821;
    transition: 0.8s;
}

.about-box:hover h4 {
    /* color: #2b6c9d; */
}

.about-box:hover a {
    /* background: #000000; */
    /* color: #fff; */
}

.about-box a {
    transition: 0.5s;
    background: #000;
}

section.about-fold .col-lg-6 {
    padding-right: 0;
}

.about-slid1 img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: top;
}

section.about-fold .container-fluid {
    padding-right: 0;
}

.about-slid-text {
    margin-left: 15%;
}

.about-slid .slick-prev {
    left: 15%;
    top: inherit;
    bottom: -15%;
}

.about-slid .slick-next:before {
    content: "\f30b";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    background: #000;
    color: #fff;
    padding: 15px 15px;
    opacity: 1;
}

.about-slid .slick-prev:before {
    content: "\f30a";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    background: #000;
    color: #fff;
    padding: 15px 15px;
    opacity: 1;
}

.about-slid .slick-prev:hover:before {
    background: #daa42a;
}

.about-slid .slick-next:hover:before {
    background: #daa42a;
}

.about-slid .slick-next {
    right: 75%;
    top: inherit;
    bottom: -15%;
}

.about-slid-text h2 {
    font-size: 48px;
    line-height: 70px;
    color: #000;
    position: relative;
}

.about-slid-text p {
    color: #000000;
    font-size: 20px;
    line-height: 30px;
    font-family: auto;
}

.about-slid-text h2:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    height: 0.5px;
    background: #daa42a;
}

section.about-fold .row {
    display: flex;
    align-items: center;
}

section.about-fold {
    margin-top: 5%;
}

.about-slid-img {
    position: relative;
}

.about-slid-img:before {
    content: '';
    position: absolute;
    top: -8px;
    left: -8px;
    width: 100%;
    height: 90%;
    background: #0000003b;
    z-index: -1;
}

.about-slid-img-text {
    position: absolute;
    bottom: 0;
    width: 80%;
    background: #2c3137d1;
    padding: 28px 28px;
}

.about-slid-img-text h4 {
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
}

.about-slid-img-text p {
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    font-family: auto;
}

.about-slid-img-text a {
    color: #fff;
    display: inline-block;
    border-bottom: 1px solid #fff;
    text-decoration: none;
}

.about-slid1 .slick-slide {
    margin-right: 0;
    margin-top: 20px;
}


/*about end*/


/*watch start*/

.watch-main {
    text-align: center;
}

.watch-main h2 {
    font-size: 62px;
    text-transform: uppercase;
    color: #fff;
    border-bottom: 2px solid #3466d8;
    display: inline-block;
    padding-bottom: 10px;
    mix-blend-mode: difference;
}

.watch-main .ayah-head {
    width: 50%;
}

.watch-img img {
    width: 100%;
}

.watch-img {
    text-align: center;
    position: relative;
    width: 85%;
    margin: 0 auto;
}

.watch-img a img {
    /* position: absolute; */
    /* top: 40%; */
    /* left: 45%; */
    width: 14%;
    /* opacity: 0.8; */
    transform: scale(0.6);
    animation: ply 2s linear infinite alternate;
    background: #ffffffa1;
    border-radius: 50%;
}

@keyframes ply {
    to {
        opacity: 1;
        transform: scale(0.7);
    }
}


/*watch end*/


/*heading start*/

section.heading-wrap.py-8 {
    background-image: url(../images/heading-back.jpg);
    background-size: cover;
    width: 100%;
    background-attachment: fixed;
    height: 550px;
    display: flex;
    align-items: center;
}

.heading-text h2 {
    color: #fff;
    font-size: 46px;
    font-weight: 600;
    
}

@-webkit-keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        filter: drop-shadow(2px 4px 6px white);
    }
    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        filter: drop-shadow(2px 4px 6px white);
    }
    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        filter: drop-shadow(2px 4px 6px white);
    }
    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

.heading-text p {
    color: #fff;
    font-weight: 400;
    font-family: auto;
    font-size: 22px;
    line-height: 41px;
}

.heading-text a {
    background: #ffffff !important;
    color: #000 !important;
    font-weight: 500;
    filter: drop-shadow(0px 7px 8px white);
}


/*heading end*/


/*servives start*/

.servives-img img {
    width: 95%;
    position: relative;
    z-index: -1;
    transition: .3s ease-in-out;
    height: 605px;
    object-fit: cover;
    /* object-position: right; */
}

.servives-img:hover img {
    filter: grayscale(1) drop-shadow(2px 4px 6px black);
    transform: scale(0.95);
}

.servives-img {
    text-align: end;
    position: relative;
}

.service-box {
    position: absolute;
    text-align: start;
    bottom: 5%;
    background: #eff2f5;
    width: 90%;
    padding: 25px 25px;
    /* z-index: 99; */
}

.service-box h4 {
    font-size: 30px;
    text-transform: uppercase;
    color: #000;
}

.service-box:after {
    content: '';
    position: absolute;
    top: -8px;
    left: -8px;
    width: 95%;
    height: 95%;
    background: #fff;
    z-index: -1;
    box-shadow: 0 0 10px #0000001f;
}

.service-box:before {
    content: '';
    position: absolute;
    top: -15px;
    left: -15px;
    width: 95%;
    height: 95%;
    background: #000000;
    z-index: -1;
    box-shadow: 0 0 10px #00000024;
}

.service-box p {
    font-size: 18px;
    color: #000000c4;
    font-family: auto;
}

.service-box a {
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #000;
    text-transform: capitalize;
}

.servives-img.servives-img1 {
    text-align: start;
}

.service-box.service-box1 {
    right: 0;
}


/*servives end*/


/*blog start*/

.blog-img {
    position: relative;
    margin-top: 5%;
    height: 340px;
}

.blog-box {
    position: absolute;
    width: 87%;
    background: #fff;
    box-shadow: 0 0 10px #00000030;
    bottom: -30%;
    left: 6%;
    padding: 30px 30px;
    border-radius: 10px;
    height: 210px;
}

.blog-box ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #808080c9;
    margin-bottom: 10px;
}

.blog-box ul li i {
    margin-right: 10px;
}

.blog-box h5 {
    font-size: 27px;
    font-family: 'Poppins';
    color: #000;
    line-height: 32px;
    margin: 0;
    font-weight: 500;
}

section.blog-wrap.py-8 {
    padding-top: 50px;
}

.blog-img:hover * {
    color: #fff;
}

.blog-img:hover .blog-box {
    background: #000000;
}

.blog-img img {
    transition: .3s ease-in-out;
}

.blog-img:hover img {
    filter: grayscale(1) drop-shadow(2px 4px 6px black);
}


/*blog end*/

section.newslatter-wrap .row {
    background-image: url(../images/news-back.jpg);
    padding: 45px 20px;
    background-size: cover;
    width: 100%;
    align-items: center;
    background-blend-mode: overlay;
    background-color: #000000a6;
}

.newslatter-text h4 {
    font-size: 48px;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
}

.newslatter-in input {
    width: 100%;
    border: none;
    background: #ffffff47;
    color: #fff;
    padding: 18px;
}

.newslatter-in {
    position: relative;
    z-index: 11;
}

.newslatter-in input[type=submit] {
    position: absolute;
    width: 25%;
    right: 0;
    border: none;
    background: #fff;
    padding: 18px;
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    /* animation: wdth 1s linear infinite alternate; */
}

@keyframes wdth {
    to {
        width: 28%;
    }
}

.newslatter-in ::placeholder {
    color: #fff;
}

section.newslatter-wrap {
    /* position: absolute; */
    margin-bottom: -3%;
    width: 100%;
    margin-top: 5%;
}

section.newslatter-wrap .row {
    position: relative;
}

section.newslatter-wrap .row:after {
    /* content: ''; */
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 0;
    transition: 0.8s ease-in-out;
    background: linear-gradient(89deg, #d9a32a9e, #000000bf);
    z-index: -1;
}

section.newslatter-wrap .row:hover:after {
    width: 100%;
    z-index: 1;
}

.newslatter-text {
    position: relative;
    z-index: 11;
}


/*footer start*/

section.footer-wrap {
    background-image: url(../images/footer.jpg);
    background-size: cover;
    height: auto;
    width: 100%;
    padding-bottom: 10px;
    /* margin-top: 10%; */
}

section.footer-wrap .row {
    align-items: center;
}

.footer-text {
    text-align: center;
}

.footer-text ul {
    justify-content: center;
}

.footer-text p a{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.foter-btn {
    text-align: end;
}

.foter-btn a {
    font-size: 20px;
    background: #ffffff !important;
    font-family: auto;
    padding: 13px 36px !important;
    text-transform: uppercase;
}

.copy-right p {
    margin: 0;
    color: #fff;
    text-align: center;
    padding-top: 10px ;
}

.copy-right {
    border-top: 1px solid gray;
    margin-top: 50px;
}


/*footer end*/


/*inner start*/


/*about start*/

.carousel-inner.inner-banner .carousel-item .slider-banner {
    height: 580px;
}

.about-box.about-box-inner ul li {
    height: 80px;
    width: 80px;
    padding: 10px 15px;
    margin-right: 10px;
}

.about-box.about-box-inner ul li img {
    width: 70%;
    height: 55px;
    object-fit: contain;
}

.about-box.about-box-inner ul {
    justify-content: start;
}

.about-inner-img img {
    width: 97%;
}

section.about-inner {
    position: relative;
    padding-bottom: 0;
}

.about-inner-text h2 {
    color: #000;
    font-weight: 500;
    font-size: 68px;
}



.about-pera {
    margin-top: 15px;
}



.background.background-innner:before {
    height: 110%;
}
/* bubble start

.bubble {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    position: absolute;
    background-color: #2b6c9d;
    bottom: 5%;
    opacity: 0.5;
    animation: bubble 10s ease-in-out infinite, sideWays 4s ease-in-out infinite alternate;
}

@keyframes bubble {
    0% {
        transform: translateY(0%);
        opacity: 0.06;
    }
    100% {
        transform: translateY(-250vh);
    }
}

@keyframes sideWays {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: 200px;
    }
}

.bubble--1 {
    left: 10%;
    animation-delay: 0.5s;
    animation-duration: 16s;
    opacity: 0.3;
}

.bubble--2 {
    width: 15px;
    height: 15px;
    left: 40%;
    animation-delay: 1s;
    animation-duration: 10s;
    opacity: 0.2;
}

.bubble--3 {
    width: 10px;
    height: 10px;
    left: 30%;
    animation-delay: 5s;
    animation-duration: 20s;
    opacity: 0.4;
}

.bubble--4 {
    width: 25px;
    height: 25px;
    left: 40%;
    animation-delay: 8s;
    animation-duration: 17s;
    opacity: 0.3;
}

.bubble--5 {
    width: 30px;
    height: 30px;
    left: 60%;
    animation-delay: 10s;
    animation-duration: 15s;
    opacity: 0.2;
}

.bubble--6 {
    width: 10px;
    height: 10px;
    left: 80%;
    animation-delay: 3s;
    animation-duration: 30s;
    opacity: 0.5;
}

.bubble--7 {
    width: 15px;
    height: 15px;
    left: 90%;
    animation-delay: -7s;
    animation-duration: 25s;
    opacity: 0.4;
}

.bubble--9 {
    width: 20px;
    height: 20px;
    left: 50%;
    bottom: 30px;
    animation-delay: -5s;
    animation-duration: 19s;
    opacity: 0.3;
}

.bubble--10 {
    width: 40px;
    height: 40px;
    left: 30%;
    bottom: 30px;
    animation-delay: -21s;
    animation-duration: 16s;
    opacity: 0.4;
}

.bubble--11 {
    width: 30px;
    height: 30px;
    left: 60%;
    bottom: 30px;
    animation-delay: -13.75s;
    animation-duration: 20s;
    opacity: 0.4;
}

.bubble--11 {
    width: 25px;
    height: 25px;
    left: 90%;
    bottom: 30px;
    animation-delay: -10.5s;
    animation-duration: 19s;
    opacity: 0.4;
}
bubble end */

/*about end*/


/*blog start*/

.blog-img.blog-img-inner {
    margin-bottom: 18%;
}

section.blog-wrap.blog-fold.py-8 {
    padding-bottom: 0;
}


/*blog start*/


/*service start*/

.row.rel {
    margin-top: 5%;
}


.blog-slider .slick-next:before {
    content: "\f30b";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #000;
    padding: 15px 15px;
    opacity: 1;
}

.blog-slider .slick-prev:before {
    content: "\f30a";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #000;
    padding: 15px 15px;
    opacity: 1;
}

.blog-slider .slick-active {
    opacity: 1.5;
}


/*service end*/


/*blog detail start*/

.detail-img img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.b-detail-text ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #808080c9;
    margin-bottom: 10px;
    width: 40%;
}

.b-detail-text ul li i {
    margin-right: 10px;
}

.b-detail-text p {
    font-size: 14px;
    color: #999999;
    line-height: 30px;
}

.b-detail-text h4 {
    font-size: 50px;
    line-height: 60px;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
}


/*blog detail end*/


/*login start*/

.log-p {
    padding: 70px 0px;
}

.log-form {
    border: 1px solid #e1e1e1;
    padding: 20px;
    background-color: #fcfcfc;
    box-shadow: 0px 0px 20px #00000014;
}

.log-form h2 {
    color: #000000;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

.log-form input {
    width: 100%;
    border: 1px solid #d9d9d9;
    padding: 15px 30px;
    margin-top: 10px;
    background: #ffffff;
}

.log-form ::placeholder {
    color: #b1b0b0;
}

.btn-submits {
    background: #000000;
    color: #fff;
    font-size: 13px;
    padding: 15px 30px;
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 20px;
}

.btn-submits:hover {
    color: #fff;
}

.log-form-footer {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 10px;
}

.log-form-footer input {
    width: 20px;
}

.log-form-footer a {
    color: #000000;
    font-size: 14px;
}

.log-form p {
    color: #000000;
    font-size: 14px;
    padding-top: 20px;
}

.log-form p a {
    text-decoration: underline;
    color: #2b6c9d;
}


/*login end*/


/* Join Now Start*/

.join-now-heading {
    text-align: center;
}

.join-now-sec {
    padding: 100px 0;
}

.join-now-heading h2 {
    font-size: 80px;
    color: #000;
}

.join-now-heading h2 span {
    color: #2b6c9d;
}

.join-form input {
    width: 100%;
    height: 60px;
    border: 1px solid #c4c4c4;
}

.join-form label {
    font-size: 16px;
    margin-bottom: 5px;
    color: #000;
    font-weight: 600;
}

.row.chg {
    margin-top: 2%;
}

.join-form textarea {
    width: 100%;
    height: 180px;
    resize: none;
    border: 1px solid #c4c4c4;
    margin-bottom: 2%;
}

section.join-b.py-8 {
    padding: 30px 0;
}

.join-form button {
    width: 100%;
    height: 60px;
    font-size: 22px;
    background: #2b6c9d;
    border: none;
    color: #fff;
}

.join-file-uploder input {
    width: 100%;
    height: 500px;
}

label.file {
    opacity: 0;
}

.join-file-uploder input {
    opacity: 0;
}

.join-file-uploder-img {
    position: absolute;
    top: 36%;
    left: 30%;
}

.join-file-uploder {
    width: 100%;
    height: 414px;
    border: 3px dashed #c4c4c4;
    position: relative;
}

html {
    overflow-x: hidden;
}


/* Join Now End*/


/*inner end*/


/* changes start */

.btn-1 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    color: #fff;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border: 0;
    font-size: 24px;
    font-family: auto;
}

.btn-1>i {
    position: absolute;
    height: 20px;
    width: 20px;
    background: #0000002e;
    border-radius: 50%;
    z-index: -1;
    bottom: -20px;
    transition: 0.5s all;
}

.btn-1:hover {
    color: #fff;
}

.btn-1:hover>i {
    animation: scale 2s infinite linear;
    bottom: 15px;
}

@keyframes scale {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(8);
        opacity: 0;
    }
}

.btn-1>i:nth-child(1) {
    animation-delay: 0.5s !important;
}

.btn-1>i:nth-child(2) {
    animation-delay: 1s !important;
}

.btn-1>i:nth-child(3) {
    animation-delay: 1.5s !important;
}

.btn-1>i:nth-child(4) {
    animation-delay: 2s !important;
}


/* changes end */

@media only screen and (min-device-width:520px) and (max-device-width:767px) and (orientation:portrait) {}

@media only screen and (min-device-width:120px) and (max-device-width:750px) and (orientation:landscape) {}

@media only screen and (min-device-width:751px) and (max-device-width:999px) and (orientation:portrait) {}

@media only screen and (min-device-width:751px) and (max-device-width:999px) and (orientation:landscape) {}

@media only screen and (min-device-width:1000px) and (max-device-width:1030px) and (orientation:portrait) {}

@media only screen and (min-device-width:1000px) and (max-device-width:1030px) and (orientation:landscape) {}

@media only screen and (min-width: 1661px) and (max-width: 1920px) {}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .b-detail-text ul {
        width: 65%;
    }
    .b-detail-text h4 {
        font-size: 37px;
        line-height: 48px;
        margin: 0;
    }
    .b-detail-text p {
        font-size: 13px;
        line-height: 28px;
    }
    section.footer-wrap {
        padding-top: 15%;
    }
    .newslatter-text h4 {
        font-size: 37px;
    }
    .blog-box {
        position: inherit;
        width: 100%;
        left: 0;
    }
    .newslatter-in button {
        width: 38%;
    }
    .blog-box h5 {
        font-size: 20px;
    }
    .about-slid-text h2 {
        font-size: 50px;
        line-height: 60px;
    }
    .header-text p {
        font-size: 11px;
    }
    a.header-link {
        padding: 10px 11px;
        font-size: 10px;
    }
    .blog-slider .slick-next {
        right: 10px;
    }
    .join-file-uploder-img {
        left: 24%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .log-form {
        margin-top: 5%;
    }
    .blog-slider .slick-next {
        right: 10px;
    }
    .about-box ul li {
        height: 205px;
        width: 205px;
    }
    .about-slid-text h2:before {
        width: 92%;
    }
    .blog-box h5 {
        font-size: 20px;
    }
    .blog-img {
        margin-bottom: 58px;
    }
    section.blog-wrap.py-8 {
        padding-bottom: 0;
    }
    .newslatter-text h4 {
        font-size: 26px;
    }
    .newslatter-in button {
        width: 51%;
    }
    .newslatter-in input {
        font-size: 9px;
    }
    section.footer-wrap {
        padding-top: 25%;
    }
    .logo img {
        width: 45%;
    }
    .banner_text h1 {
        font-size: 80px;
    }
    .carousel-inner .carousel-item .slider-banner {
        height: 600px;
    }
    .about-box ul li img {
        width: 120px;
        height: 120px;
    }
    .about-box h4 {
        font-size: 26px;
    }
    .about-slid-text {
        margin-left: 0%;
        margin-bottom: 60px;
    }
    .about-slid .slick-next {
        bottom: 0%;
    }
    .about-slid .slick-prev {
        bottom: 0%;
    }
    .servives-img.servives-img1 {
        margin-top: 30px;
    }
    a.header-link {
        padding: 10px 11px;
        font-size: 10px;
    }
    .about-inner-img img {
        position: inherit;
        width: 100%;
        margin-bottom: 20px;
    }
    .join-file-uploder-img {
        left: 25%;
    }
}

@media only screen and (min-width: 520px) and (max-width: 767px) {
    .header-text {
        display: none;
    }
    .banner_text h1 {
        font-size: 35px;
        line-height: 47px;
    }
    .banner_text p {
        width: auto;
    }
    .carousel-inner .carousel-item .slider-banner {
        height: 600px;
    }
    .arrow1 {
        top: -1%;
    }
    .about-main {
        width: 100%;
    }
    .about-main h2 {
        font-size: 55px;
    }
    .about-slid-text {
        margin-left: 0%;
    }
    .about-slid-text h2 {
        font-size: 35px;
        line-height: 50px;
    }
    .about-slid-img-text {
        width: 100%;
    }
    .about-slid-img-text p {
        font-size: 14px;
        line-height: 20px;
    }
    .watch-main h2 {
        font-size: 30px;
    }
    .heading-text h2 {
        font-size: 34px;
    }
    section.heading-wrap.py-8 {
        height: auto;
    }
    .service-box {
        position: inherit;
        width: 100%;
        padding: 15px 15px;
        margin: 30px 0;
    }
    section.Services-wrap.py-8 {
        padding-bottom: 0;
    }
    .blog-img {
        margin-bottom: 18%;
    }
    .blog-box h5 {
        font-size: 20px;
    }
    .newslatter-text h4 {
        font-size: 26px;
        margin-bottom: 19px;
    }
    .newslatter-in button {
        position: inherit;
        margin-top: 10px;
        width: 70%;
    }
    section.newslatter-wrap {
        position: inherit;
        margin-left: 3%;
    }
    section.footer-wrap {
        padding-top: 45px;
    }
    .footer-text {
        text-align: start;
        margin-top: 35px;
    }
    .footer-text ul {
        justify-content: start;
    }
    .foter-btn {
        text-align: start;
    }
    a.header-link {
        display: none;
    }
}

@media only screen and (min-width: 300px) and (max-width: 519px) {
    .header-text {
        display: none;
    }
    .banner_text h1 {
        font-size: 35px;
        line-height: 47px;
    }
    .banner_text p {
        width: auto;
    }
    .carousel-inner .carousel-item .slider-banner {
        height: 600px;
    }
    .arrow1 {
        top: -1%;
    }
    .about-main {
        width: 100%;
    }
    .about-main h2 {
        font-size: 55px;
    }
    .about-slid-text {
        margin-left: 0%;
    }
    .about-slid-text h2 {
        font-size: 35px;
        line-height: 50px;
    }
    .about-slid-img-text {
        width: 100%;
    }
    .about-slid-img-text p {
        font-size: 14px;
        line-height: 20px;
    }
    .watch-main h2 {
        font-size: 30px;
    }
    .heading-text h2 {
        font-size: 34px;
    }
    section.heading-wrap.py-8 {
        height: auto;
    }
    .service-box {
        position: inherit;
        width: 100%;
        padding: 15px 15px;
        margin: 30px 0;
    }
    section.Services-wrap.py-8 {
        padding-bottom: 0;
    }
    .blog-img {
        margin-bottom: 18%;
    }
    .blog-box h5 {
        font-size: 20px;
    }
    .newslatter-text h4 {
        font-size: 20px;
    }
    .newslatter-in button {
        position: inherit;
        margin-top: 10px;
        width: 70%;
    }
    section.newslatter-wrap {
        position: inherit;
        margin-left: 3%;
    }
    section.footer-wrap {
        padding-top: 45px;
    }
    .footer-text {
        text-align: start;
        margin-top: 35px;
    }
    .footer-text ul {
        justify-content: start;
    }
    .foter-btn {
        text-align: start;
    }
    .header-menu {
        position: relative;
        z-index: 99;
    }
    .about-inner-img img {
        position: inherit;
        width: 100%;
    }
    .about-inner-text {
        margin-top: 10%;
    }
    section.watch-wrap.py-8 {
        padding: 50px 0;
    }
    section.blog-wrap.py-8 {
        padding-bottom: 0;
    }
    a.header-link {
        display: none;
    }
    .about-slid1 {
        margin-top: 15%;
    }
    .about-slid .slick-next {
        right: 65%;
    }
    section.about-fold .col-lg-6 {
        padding-right: 25px;
    }
    .slick-prev {
        left: -9px;
    }
    .slick-next {
        right: 20px;
    }
    /* chngs start */
    .logo {
        position: absolute;
        left: 0;
        text-align: start;
    }
    .logo img {
        width: 60%;
    }
    
    .header-menu {
        top: 30px;
    }
    .about-slid1 {
        margin-top: 27%;
    }
    .ayah-head {
        width: 100% !important;
    }
    .newslatter-in button {
        animation: unset !important;
    }
    /* chngs end */
}

/* zh start */
.banner-icon ul li:hover a {
    color: #fff;
}
.logo {
    text-align: center;
}

ul.hedr-menu a:hover {
    color: #e1bf66;
    transition: 0s;
}
.main-navigate:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.5px;
    left: 0;
    bottom: 0;
    background: linear-gradient(90deg, rgb(225 191 102 / 10%) 5%, rgb(225 191 102) 50%, rgb(225 191 102 / 10%) 95%);
}
header.fixed .main-navigate {
    padding: 0;
    position: fixed;
    z-index: 3;
    background: rgb(0 0 0 / 48%);
    /* box-shadow: 0 0px 10px 1px rgb(171 171 171 / 39%); */
    backdrop-filter: blur( 13px);
    border: none;
    width: 100%;
}

header.fixed .right-hedr a.theme2 b {
    font-size: 21px;
    letter-spacing: 3px;
}

header.fixed .right-hedr a.theme2 {
    height: 53px;
}
header.fixed .logo img {
    width: 24%;
}
.heading-text {
    text-align: center;
}

.watch-img a {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel-control-prev-icon {
    background: url('../images/car-arw2.png');
     background-repeat: no-repeat;
     height: 15px;
}
 .carousel-control-next-icon {
    background: url('../images/car-arw.png');
     background-repeat: no-repeat;
     height: 15px;
}

 .carousel-control-prev-icon:hover {
    filter: brightness(0) saturate(100%) invert(80%) sepia(80%) saturate(2232%) hue-rotate(335deg) brightness(89%) contrast(92%);
}
 .carousel-control-next-icon:hover {
    filter: brightness(0) saturate(100%) invert(80%) sepia(80%) saturate(2232%) hue-rotate(335deg) brightness(89%) contrast(92%);
}
.carousel-control-prev, .carousel-control-next{
    opacity: 1;
    top: unset;
    bottom: 6%;
    width: 30px;
}
.carousel-control-prev {
    left: 8%;
    opacity: 1;
}

.carousel-control-next {
    left: 12%;
    opacity: 1;
}
.banner_text {
    margin-top: 10%;
}
section.about-inner p {
    color: #000;
    font-size: 18px;
    font-family: auto;
    line-height: 35px;
}
.srvs-hed {
    text-align: center;
}

.srvs-hed h2 {
    font-size: 62px;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    padding-bottom: 9px;
    border-bottom: 1px solid #cf9c28;
    width: max-content;
    margin: 0 auto;
    margin-bottom: 42px;
}
.btm-srvss {
    text-align: center;
    margin-top: 4%;
}
section.Services-wrap {
    margin: 5%;
}
.btm-srvss a {
    background: #000 !important;
    color: #fff !important;
}
.contct-info h3 {
    font-size: 36px;
    font-weight: 600;
    color: #000;
    margin-bottom: 12px;
}

.contct-info h4 {
    font-size: 24px;
    color: #000;
    font-weight: 600;
}

.contct-info ul li a {
    display: flex;
    align-items: baseline;
    gap: 16px;
    margin-bottom: 20px;
    color: #000;
}

.contct-info ul {
    margin-top: 6%;
}

.contct-info {
    padding-left: 2%;
}
.ftter-logo img {
    width: 50%;
}
.blog-slider .slick-track {
    padding-bottom: 100px;
}
.banner_text.inr h1 {
    text-transform: capitalize;
}
.contact-pg {
    padding: 8% 0;
}
/* zh end */

@media only screen and (min-device-width:520px) and (max-device-width:767px) and (orientation:portrait) {}
@media only screen and (min-device-width:120px) and (max-device-width:750px) and (orientation:landscape) {}
@media only screen and (min-device-width:751px) and (max-device-width:999px) and (orientation:portrait) {}
@media only screen and (min-device-width:751px) and (max-device-width:999px) and (orientation:landscape) {}
@media only screen and (min-device-width:1000px) and (max-device-width:1030px) and (orientation:portrait) {}
@media only screen and (min-device-width:1000px) and (max-device-width:1030px) and (orientation:landscape) {}

@media only screen and (min-width: 1661px) and (max-width: 1920px){

}
@media only screen and (min-width: 1400px) and (max-width: 1600px) {

}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

}
@media only screen and (min-width: 992px) and (max-width: 1199px) {

}
@media only screen and (min-width: 768px) and (max-width: 991px) {

}
@media only screen and (min-width: 520px) and (max-width: 767px) {
    .sm-n {
        display: none !important;
    }
    .main-navigate {
        background: transparent;
        backdrop-filter: none;
    }
    
    .logo {
        text-align: start;
    }
    
    .banner_text {
        margin-top: 27%;
    }
    
    ::after {}
    
    .main-navigate:after {
        display: none;
    }
    
    a.ham-icn img {filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(346deg) brightness(103%) contrast(103%);}
    
    .carousel-inner .carousel-item .slider-banner {
        height: 681px;
    }
    
    .banner_text p {
        line-height: 26px;
        font-size: 18px;
    }
    
    header.fixed .main-navigate {
        position: inherit;
    }
    
    .carousel-control-next {
        left: 18%;
    }
    
    .about-slid-text h2 {
        font-size: 25px;
    }
    
    h2 {}
    
    .about-slid-text {
        text-align: center;
    }
    
    h2 {}
    
    h2 {}
    
    h2 {}
    
    .srvs-hed h2 {
        font-size: 42px;
    }
    
    .servives-img img {
        height: 400px;
    }
    
    .blog-img {
        margin-bottom: 38%;
    }
    
    .blog-box {
        height: 224px;
    }
    
    .newslatter-in input {
        padding: 20px;
    }
    
    .newslatter-in input[type=submit] {
        padding: 19px;
        font-size: 18px;
    }
    
    section.newslatter-wrap .row {
        padding: 30px 0;
        text-align: center;
    }
    
    section.footer-wrap {
        text-align: center;
    }
    
    .footer-text ul {
        justify-content: center;
    }
    
    .footer-text p {
        text-align: center;
    }
    
    .foter-btn {
        text-align: center;
    }
    .header-menu {
        position: absolute;
        right: 44px;
        width: 34px;
        top: 40px;
    }
    
    .logo img {
        width: 75%;
    }
    ul.menu.poppup-mnu {
        width: 100%;
    }
    .about-slid .slick-prev, .about-slid .slick-next {bottom: 0;} 
    .watch-main .ayah-head { width: 70%; }
     .blog-img img { width: 100%; } 
     .banner_text.inr h1 {
        font-size: 44px;
        text-align: center;
    }
    .carousel-inner.inner-banner .carousel-item .slider-banner {
        height: 450px;
    }

}
@media only screen and (min-width: 300px) and (max-width: 519px) {
    .banner_text.inr h1 {
        font-size: 44px;
        text-align: center;
    }
    .sm-n {
        display: none !important;
    }
    .main-navigate {
        background: transparent;
        backdrop-filter: none;
    }
    
    .logo {
        text-align: start;
    }
    
    .banner_text {
        margin-top: 27%;
    }
    
    ::after {}
    
    .main-navigate:after {
        display: none;
    }
    
    a.ham-icn img {filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(346deg) brightness(103%) contrast(103%);}
    
    .carousel-inner .carousel-item .slider-banner {
        height: 681px;
    }
    
    .banner_text p {
        line-height: 26px;
        font-size: 18px;
    }
    
    header.fixed .main-navigate {
        position: inherit;
    }
    
    .carousel-control-next {
        left: 18%;
    }
    
    .about-slid-text h2 {
        font-size: 25px;
    }
    
    h2 {}
    
    .about-slid-text {
        text-align: center;
    }
    
    h2 {}
    
    h2 {}
    
    h2 {}
    
    .srvs-hed h2 {
        font-size: 42px;
    }
    
    .servives-img img {
        height: 400px;
    }
    
    .blog-img {
        margin-bottom: 38%;
    }
    
    .blog-box {
        height: 224px;
    }
    
    .newslatter-in input {
        padding: 10px;
    }
    
    .newslatter-in input[type=submit] {
        padding: 10px;
        font-size: 11px;
    }
    
    section.newslatter-wrap .row {
        padding: 30px 0;
        text-align: center;
    }
    
    section.footer-wrap {
        text-align: center;
    }
    
    .footer-text ul {
        justify-content: center;
    }
    
    .footer-text p {
        text-align: center;
    }
    
    .foter-btn {
        text-align: center;
    }
    .header-menu {
        position: absolute;
        right: 44px;
        width: 34px;
        top: 40px;
    }
    
    .logo img {
        width: 50%;
    }
    ul.menu.poppup-mnu {
        width: 100%;
    }
    .carousel-inner.inner-banner .carousel-item .slider-banner {
        height: 450px;
    }
    

}
@media only screen and (min-width: 0px) and (max-width: 299px) {
    .banner_text.inr h1 {
        font-size: 44px;
        text-align: center;
    }
    .sm-n {
        display: none !important;
    }
    .main-navigate {
        background: transparent;
        backdrop-filter: none;
    }
    
    .logo {
        text-align: start;
    }
    
    .banner_text {
        margin-top: 27%;
    }
    
    ::after {}
    
    .main-navigate:after {
        display: none;
    }
    
    a.ham-icn img {filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(346deg) brightness(103%) contrast(103%);}
    
    .carousel-inner .carousel-item .slider-banner {
        height: 681px;
    }
    
    .banner_text p {
        line-height: 26px;
        font-size: 18px;
    }
    
    header.fixed .main-navigate {
        position: inherit;
    }
    
    .carousel-control-next {
        left: 18%;
    }
    
    .about-slid-text h2 {
        font-size: 25px;
    }
    
    h2 {}
    
    .about-slid-text {
        text-align: center;
    }
    
    h2 {}
    
    h2 {}
    
    h2 {}
    
    .srvs-hed h2 {
        font-size: 42px;
    }
    
    .servives-img img {
        height: 400px;
    }
    
    .blog-img {
        margin-bottom: 38%;
    }
    
    .blog-box {
        height: 224px;
    }
    
    .newslatter-in input {
        padding: 10px;
    }
    
    .newslatter-in input[type=submit] {
        padding: 10px;
        font-size: 11px;
    }
    
    section.newslatter-wrap .row {
        padding: 30px 0;
        text-align: center;
    }
    
    section.footer-wrap {
        text-align: center;
    }
    
    .footer-text ul {
        justify-content: center;
    }
    
    .footer-text p {
        text-align: center;
    }
    
    .foter-btn {
        text-align: center;
    }
    .header-menu {
        position: absolute;
        right: 44px;
        width: 34px;
        top: 40px;
    }
    
    .logo img {
        width: 50%;
    }
    ul.menu.poppup-mnu {
        width: 100%;
    }
    .carousel-inner.inner-banner .carousel-item .slider-banner {
        height: 450px;
    }
   
}

.whatsap {
    position: fixed;
    right: 2%;
    bottom: 2%;
    z-index: 11;
}

.whatsap img {
    width: 55px;
}